
#novoPreparo {
    position: fixed;
    transition: .5s ease;
    top: 88%;
    left: 81%;
}


/*#btnNovoPreparo {
    color:powderblue;
}*/

.page{
    display:none;
}

.page-active{
    display:block;
}

.novaReceita{
    margin-left:30%;
    margin-top:10%;
    width:40%;
    height:150px;
    border:solid;
    border-color:black;
    border-radius:4px;
    border-width:thin;
}

.LabelNovaReceita{
    margin-top:2%;
    margin-left:25%;
}
#BTNfecharSelecionarReceita{
    margin-top:5%;
    width:100%;
    float:right;
   
 }

#BTNSelecionarReceita {
    margin-top: 5%;
    float: left;
    width: 100%;
}

.ListaReceitas{
    margin-top:1.5%;
    width:100%;
}

#cardMonitor{
    float:left;
    margin-top:3.5%;
    
}

.infos{
    margin-top:3%;
}


.chart{
    

}
